#tablaPersonas td:nth-child(6),
#tablaPersonas td:nth-child(7),
#tablaPersonas td:nth-child(8) {
	text-align: center;
}

#tablaPersonas td:nth-child(7) a,
#tablaPersonas td:nth-child(8) a {
	color: black;
}

#tablaPersonas {
	width: 400px;
}