<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>BasicoWeb</display-name>
  <servlet>
    <servlet-name>Pepe</servlet-name>
    <servlet-class>servlet.HolaMundoDDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pepe</servlet-name>
    <url-pattern>/HolaMundoDD</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Pepe</servlet-name>
    <url-pattern>/MappingDePepe</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>HolaMundo</welcome-file>
  </welcome-file-list>
</web-app>